extends ../templates/layout

block header
  | Login/Register

block content
  #innerWrapper.loginforms
    article#messagesContainer
      //- console.log(messages)
      //- console.log(messages.Success, messages.Error)

      if (messages.Success) 
        - successMessages = []
        .messages.successes 
          for val, index in messages.Success
            if (successMessages.indexOf(val) == -1)
              span.success= val
              - successMessages.push(val)
      if messages.Error
        - errorMessages = []
        .messages.errors 
          for val, index in messages.Error
            if (errorMessages.indexOf(val) == -1)
              span.error= val
            - errorMessages.push(val)
      if messages.Information
        - informationMessages = []
        .messages.informational 
          for val, index in messages.Information
            if (informationMessages.indexOf(val) == -1)
              span.information= val
            - informationMessages.push(val)

    article#loginForm
      form(action='/login', method='post')#login
        h3 Login
        fieldset
          input(type='hidden', name='goto', value=req.query.goto)

          label(for='lusername') Username
          input(type='text', name='username', placeholder='Username' autocorrect='off', spellcheck='false', autocapitalize='off', autofocus='true')#lusername

          label(for='lpassword') Password
          input(type='password', name='password', placeholder='Password')#lpassword

          input(type='submit', value='Login').button-outline

    article#registerForm
      form(action='/register',  method='post')#register
        h3 Register
        fieldset
          input(type='hidden', name='goto', value=req.query.goto)

          label(for='rusername') Username
          input(type='text', name='username', placeholder='Username' autocorrect='off', spellcheck='false', autocapitalize='off', autofocus='true')#rusername

          label(for='rpassword') Password
          input(type='password', name='password', placeholder='Password')#rpassword

          input(type='submit', value='Register').button-outline
